    .header {
        background-color: var(--background-tertiary-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 48px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3000;
    }

    .header__logo img {
        width: 5rem;
        height: auto;   
    }

    .header__dir {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header__icones {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1.5rem;
    }

    .header__icones .material-symbols-outlined {
        color: #000;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .header__icones .material-symbols-outlined:hover {
        color: var(--background-primary-color); 
    }

    #menu-btn {
        display: none;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
    }

    .header__menu {
        position: static;
        z-index: 4000;
    }

    .header__menu.ativo {
        right: 0;
    }

    .header__menu ul{
        flex-direction: row;
        display: flex;
        align-items: left;
        list-style: none;
        gap: 2.5rem;
    }

    .header__menu a {
        text-decoration: none;
        position: relative;
        padding-bottom: 10px;
    }

    .header__menu a::after {
        content: "";
        width: 0%;
        height: 2px;
        background-color: var(--background-primary-color);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width 0.4s ease;
        
    }

    .header__menu a:hover {
        color: var(--background-primary-color);
    }

    .header__menu a:hover::after {
        width: 100%;
    }

    .header__icones .material-symbols-outlined {
            font-size: 1.7rem;
    }

    .hero {
        width: 100%;
        height: 80vh; /* controla o tamanho do banner */
        background-image: url("../img/hero__banner.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        position: relative;
    }

    .offers{
        display: flex;
        color: #fff;
        background-color: #000000;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 8px 0;
        font-size: 1rem;
    }