    .header {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 48px;
    }

    .header__logo img {
        width: 5rem;
        height: auto;   
    }

    .header__dir {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header__icones {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
    }

    .header__menu ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        gap: 2.5rem;
    }

    .hero {
        width: 100%;
        height: 80vh; /* controla o tamanho do banner */
        background-image: url("/cosmim/img/hero__banner.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        overflow-x: hidden;
        align-items: center;
    }

    .offers{
        display: flex;
        color: #ffff;
        background-color: #000000;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 8px 0;
        font-size: 1rem;
    }